body {
	background-color: #DAD9C3; 
}

h1 {
	color: #0C090A;
	
}

h4 {
	color: #0C090A;;
}

p {
	color: #0C090A; 
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 1000px;
}