<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> -->
<head>
<title>Little Math Expert</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

	<!-- 	create navigation bar ( header) -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-success">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Little Math
					Expert</a>
			</div>
			<ul class="nav navbar-nav">

				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/Home}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/About}">About</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/students}">Teacher Dashboard</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<h1>About Page</h1>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>