<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Teacher Dashboard</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-success">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Addition}">Addition</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Subraction}">Subtraction</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Multiplication}">Multiplication</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Division}">Division</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>