<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Teacher Dashboard</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-success">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/students}">Teacher Dashboard</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">

				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Home}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/About}">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/Report}">Student Report</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Students Report</h1>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Student Id</th>
					<th>Questions Attempted</th>
					<th>Correct</th>
					<th>Incorrect</th>
					<th>Start Date</th>
					<th>Last Attempted</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="report: ${reports}">
					<td th:text="${report.reportId}"></td>
					<td th:text="${report.attempted}"></td>
					<td th:text="${report.correct}"></td>
					<td th:text="${report.incorrect}"></td>
					<td th:text="${report.startDate}"></td>
					<td th:text="${report.lastAttempted}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>